@charset "UTF-8";
/* CSS Document created by Avery Stevens, Spring 2019*/

body {
	font: 100%/1.4 Century Gothic, Helvetica, sans-serif;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	color: #222939 ;
	background-color: #9BADB3;
	padding: 0 50px;
	text-align: left;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #222939;
	padding: 0 40px;
}
h1 {
	font-size: 29px;
	color: #fff;
	letter-spacing: .1em;
	line-height: 1.5em;
	font-weight: bold;
	margin: 0;
	padding: 0 40px;
}
h2 {
	color: #fff;
	font-size: 23px;
	padding: 0 40px;
	letter-spacing: 0.2em;
	background-color: #222939; 
	font-weight: bold;
}
h3 {
	font-size: 17px;
	letter-spacing: 0.5em;
	border-bottom-color: #fff;
	padding: 4px 0;
	margin: 7px;
	font-variant: normal;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #9BADB3;
	text-decoration: none;
}
a:hover {
	color: #222939;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: none;
	margin-left: 12px;
}
ol {
	margin-left: 10px;
}

/* table styles -------------------------------------- */
table {
	border: solid #222939 2px;
	margin: 20px;
}
td {
	padding: 7px;
	border: solid #222939 1.5px;
	text-align: center
	
}
th {
	font-weight: bold;
	background-color: #fff;
	text-align: center;
	padding: 6px;
	border: solid #fff 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #222939 1.5px;
}

img {
	/*border: solid #fff 7px; */
	display: block;
	margin-right: auto;
	margin-left: auto; 
} 

iframe {
	border: solid #222939 1px;
	padding: 8px;
	margin: 8px;
}

/* DIV STYLES FOR PAGE LAYOUT */

#container {
	width: 900px;
	margin: 0 auto;
	/* border: 1px solid #000; */
	background-color: #fff;
	overflow: hidden;
}
#header {
	width: 100%;
	padding-bottom: 20px;
	background-color: #222939;
	border-bottom: 1px solid #222939;
	color: #fff;
	
}
#content {
	width: 600px;
	float: left;
	padding-bottom: 40px;
}
#sidebar {
	width: 250px;
	float: left;
	margin: 20px;
	margin-top: 50px;
	background: #eee;
	border: 1px solid #222939;
	border-radius: 12px;
	box-shadow: 10px 10px 5px #9BADB3;
}
#sidebar p{
	padding: 0;
	float: right;
}
#footer {
	clear: both; 
	width: 100%;
	padding: 40px 0;
	background-color: #222939;
	border-top: 1px solid #222939;
}
#footer p{
	margin: 0;

} 

/* Avery Stevens 4/8/19 */